.container {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container > form > * {
    width: 100%;
}
.language {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.language button {
    justify-self: center;
}