.container {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

nav {
    display: flex;
    flex-direction: column;
}
.content {
    border: 1px solid black;

}

.active {
    background-color: red;
}